.pf-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container{ 
    width: 600px;
    overflow: hidden;
    padding: 20px;
}
.pf-section-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    min-height: 100px;
}

/* TAMAÑOS PEQUEÑOS */

@media(max-width:300px) {
    .pf-section-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .img-container{width: 100%;}
    .pf-image{
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }
    .pf-section-label{
        font-size: 50px;
    }
}

/* TAMAÑOS MEDIANOS */
@media (min-width:301px) {
    .pf-container{overflow: hidden;}
    .pf-section-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    .img-container{width: 100%;}
    .pf-image{
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
    }
    .pf-section-label{
        font-size: 80px;
    }
    
}

/* Tamaños grandes */
@media(min-width: 830px){
    .pf-container{overflow: hidden;}
    .pf-section-container{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    .img-container{width: 100%;}
    .pf-image{
        width: 400px;
        height: 400px;
        display: block;
        margin: 0 auto;
    }
    .pf-section-label{
        font-size: 90px;
    }
}

@media (min-height:1000px) {
    .pf-section-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }

    .img-container{width: 100%;}
    .pf-image{
        width: 500px;
        height: 500px;
        display: block;
        margin: 0 auto;
    }
    .pf-section-label{
        font-size: 150px;
    }
}
